@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    font-family: "Roboto";
}

.header {
    border-bottom: 4px solid #f59e0b;
}

h1 {
    font-size: 56px;
    margin-bottom: 15px;
}
input {
    margin-bottom: 15px;
    height: 20px;
    font-size: 18px;    
    border-radius: 6px;
    padding: 4px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease; 

}

button {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 16px;
    padding: 2px;
    width: 180px;
    height: 50px;
    border: 2px solid #3882F6;
    margin-bottom: 10px;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #f9f9f9;
    border-bottom: 2px solid #ccc;
    font-size: 20px;
    font-weight: 500;
}

.player-info {
    background-color: #f3f4f6;
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.left {
    text-align: left;
}
#names{
    font-weight: bold;
    font-size: 20px;
}
.name{
    font-size: 24px;
}
.marker{
    color: #3882F6;
    font-size: 24px;
    font-weight: bold;
}



.board {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 250px);
    margin: 30px auto;
    width: max-content;
    
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
    background-color: whitesmoke;
    border: 4px solid black;
    
    cursor: pointer;
    width: 250px;
    height: 250px;
    user-select: none;
}